<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="COCInviter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <userSettings>
        <COCInviter.Properties.Settings>
            <setting name="maxLeagueTextBoxSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="minLevelTextBoxSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="minAttacksTextBoxSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="minKingTextBoxSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="minQueenTextBoxSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="minWardenTextBoxSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="minChampionTextBoxSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="apiKeySetting" serializeAs="String">
                <value />
            </setting>
            <setting name="minTownhallTextBoxSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="totalPlayersFoundSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="totalPlayersInvitedSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="savedPlayersSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="minTrophiesTextBoxSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="minDonationsTextBoxSetting" serializeAs="String">
                <value>0</value>
            </setting>
        </COCInviter.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>